@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body {
  margin: 0px;
  font-family: "Roboto";
  text-align: center;
  /* background-color: #333; */
}
main {
  background-color: #333;
  height: fit-content;
}

/* navbar */
#navbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  margin: auto;
  padding: 0px 2rem;
  margin-top: 30px;
  width: 70%;
  /* color: #fc997c; */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(32, 31, 31);
  border-radius: 5px;
}
#navbar h1 {
  margin: auto 0px;
  transition: transform 0.2s;
}
#navbar h1:hover {
  transform: scale(1.25);
  color: #9c19e0;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: auto 0px;
}
#navbar ul li {
  margin: auto;
}
#navbar ul li a {
  margin: auto 1rem;
  padding: 0.55rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
#navbar ul li a:hover {
  background-color: #333;
  border-radius: 3px;
  color: #9c19e0;
  /* font-weight: bold; */
}

#container {
  color: white;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 4rem;
  bottom: 45%;
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: rgb(32, 31, 31);
}

/* game list */

#game-list > div {
  width: 70%;
  height: 450px;
  border: solid 40px rgb(32, 31, 31);
  background-color: rgb(32, 31, 31);
  border-radius: 5px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
}
#game-list > div > div {
  padding: 10px 10px;
  padding-right: 3rem;
  width: 50%;
}

#game-list div div h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(36, 35, 35);
}

#game-list > div > div > .games-desc {
  background-color: #333;
  width: 100%;
  height: 70%;
  margin-top: 1rem;
  color: white;
  border-radius: 5px;
  padding: 15px 15px;
}

#game-list > div > div > .playnow > button {
  padding: 3px 5px;
  margin: 0px auto;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #df007c;
  border: #df007c solid 2px;
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(36, 35, 35);
  width: 10rem;
}
/*  */
#game-list:nth-child(2) > div > div > .playnow > button {
  color: #fd2d00;
}
#game-list > div > div > .playnow > button:hover {
  animation-name: grow;
  animation-duration: 1s;
  background-color: #df007c;
  color: black;
  width: 11rem;
  height: 3.5rem;
}

#game-list > div > div > div > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#game-list div > img {
  display: block;
  width: 50%;
  height: 100%;
  border: solid 0px black;
  border-radius: 5px;
}
#game-list > div > div > h1 {
  padding: 0px 15px;
  border-radius: 5px;
  width: fit-content;
}
#game-list :nth-child(1) > div > h1 {
  background-color: #df007c;
}
#game-list :nth-child(2) > div > h1 {
  background-color: #fd2d00;
}
#game-list :nth-child(3) > div > h1 {
  background-color: #00c5c8;
}
#game-list :nth-child(4) > div > h1 {
  background-color: #70e7d1;
}
#game-list :nth-child(5) > div > h1 {
  background-color: #ff4545;
}
/* check this */
#game-list :nth-child(5) {
  margin-bottom: 40px;
}

/* text animation */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#animated-text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.js-games {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.js-games-p {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(
    to bottom,
    #9c19e0,
    #9c19e0 64%,
    #fff 60%,
    #fff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

.js-games-span {
  position: relative;
}

.js-games-span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: rgb(32, 31, 31);
  bottom: 9px;
  transition: all 0.2s ease-out;
}

.js-games-p:hover {
  background-position: 0 11px;
}

.js-games-span:hover:before {
  transform: translateY(10px);
}
