.grid {
  width: 312px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.timer {
  margin-top: 0px;
}
.box {
  height: 100px;
  width: 100px;
  border: solid 2px;
}
.card {
  width: fit-content;
  background-color: #b3541e;
  padding: 30px 30px;
  padding-top: 15px;
  margin: auto;
  margin-top: 3rem;
  border-radius: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}

body {
  background-color: #a13333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body div {
  padding-top: 5px;
}
.mole {
  background-color: #461111;
}
.header a {
  margin-top: 2rem;
  margin-right: 1rem;
  font-size: 40px;
  color: #461111;
  height: fit-content;
  width: fit-content;
}
